<!-- formulaire ajout de post-->
<div class="container-fluid">
<form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
	<div class="form-group">
		<label for="titre">titre: </label>
		<input type="text" name="titre" class="form-control" formControlName="titre">
	</div>
	<div class="form-group">
		<label for="contenu">contenu: </label>
		<textarea name="contenu" class="form-control" formControlName="contenu"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Soumettre</button>
</form>
</div>